@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #27252B;
  margin: auto 400px;
  font-family: 'Inter', sans-serif ;
  text-align: left;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 800;
}